<app-header></app-header>
<div class="container" id="homa">
    <div class="hero-box">
        <div class="hero-text">
            <h1>Your Road Awaits.<br>Rent With Us.</h1>
            <p class="fs-4 text-secondary">Discover our fleet of high-performance vehicles.</p>
            <a routerLink="#renta" class="btn"
                style="background: white; color: black; font-weight: bold; border-radius: 8px; padding: 12px 25px;">Rent
                a Car</a>
        </div>
    </div>

    <div id="carouselExampleRide" class="carousel slide p-2" data-bs-ride="carousel" style="background-color:#0a0a0a;"
        data-bs-theme="light">
        <div class="carousel-inner">
            @for ( p of popularCars; track p; let i = $index) {
            @if(i == 0) {
            <div class="carousel-item active">
                <div class="row gx-3">
                    @for ( p of popularCars; track p; let i = $index) {
                    <div class="col-md-3">
                        <div class="card" (click)="mainpage()">
                            <button class="like-btn" (click)="togglelike(p);">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                            <img [src]="p.imageUrl1">
                            <div class="tga">
                                <button class="btn btn-primary mt-2 rent-btn-cardd"
                                    (click)="PurchaseCar()">Rent Now</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }@else {
            <div class="carousel-item">
                <div class="row ">
                    @for ( p of popularCars; track p; let i = $index) {
                    <div class="col-md-3">
                        <div class="card" (click)="mainpage()">
                            <button class="like-btn" (click)="togglelike(p);">
                                <i class="fa fa-heart"></i>
                            </button>
                            <img [src]="p.imageUrl2">
                            <div class="tga">
                                <button class="btn btn-primary mt-2 rent-btn-cardd"
                                    (click)="PurchaseCar()">Rent Now</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
            }
        </div>
        <div class="custom-carousel carousel-control-prev g d-flex align-items-center"
            data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <div class="le prev">‹</div>
        </div>

        <div class="custom-carousel carousel-control-next t d-flex align-items-center"
            data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <div class="le next">›</div>
        </div>

    </div>

    <div class="row mb-5" id="renta">
        <div class="col-lg-3 mb-4">
            <div class="filter-sidebar">
                <h5 class="fw-bold mb-3">Brand Filter</h5>
                <div class="form-check">
                    <input class="form-check-input filter-btn" type="radio" name="brand" value="All" id="all" checked>
                    <label class="form-check-label" for="all">All Brands</label>
                </div>
                <div id="brandFilters">
                    <h5 class="fw-bold mb-3">Cities</h5>
                    <form #myForm="ngForm">
                        <select id="cities" name="city" #city ngModel class="form-select"
                            (change)="filter(myForm.value)">
                            <option selected disabled>Choose City</option>
                            @for ( f of filters; track f) {
                            <option [value]="f">{{ f }}</option>
                            }
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row g-4" id="roww">
                @for ( c of cars; track c) {
                <div class="col-md-6 col-lg-4">
                    <div class="cardd h-100" (click)="mainpage()">
                        <button class="like-btn" (click)="togglelike(c);">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <img [src]="c.imageUrl1" class="card-img-top cardd img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{c.brand}} {{c.model}}</h5>
                            <div class="mt-auto d-flex justify-content-between align-items-center">
                                <a (click)="PurchaseCar()" class="btn btn-primary rent-btn-card">Rent Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>

            <div id="pagination" class="d-flex justify-content-center mt-4"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>